@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lilita+One&display=swap');

body {
    background-color: #ffcece;
}


.logoContainer {
    text-align: center;
}

.logo {
    width: 30%;
    height: auto;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 96px;
    letter-spacing: 4px;
    color: #ad5050;
    text-shadow: 10px 10px 5px #00000038;
    margin-bottom: 0px;
}

p {
    font-size: 36px;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.features {
    display: flex;
    flex-wrap: wrap;
    background-color:#fba3a3;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    margin: 50px;
}

.featureBloc {
    border-radius: 20px;
    height: 300px;
    background-color: #da6c6c;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30%;
    box-shadow: 10px 10px 5px #00000038;
}

.featureBloc > p, .subscribeForm > p {
    color: #F5EBEB;
}

.featureBloc > img {
    width: 150px;
    height: auto;
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fba3a3;
    margin: 50px;
}

.subscribeButton {
    border-radius: 30px;
    padding: 20px;
    border-color: transparent;
    background-color: #FFC14C;
    box-shadow: 10px 10px 5px #00000038;
    font-weight: bold;
}

.subscribeButton:hover {
    background-color:#ffda95;
}

.subscribeForm {
    background-color: #da6c6c;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
    gap: 20px;
    box-shadow: 10px 10px 5px #00000038;
    width: 40%;
    margin: 50px;
}

.subscribeForm > p {
    font-size: 26px;
}

input {
    border-radius: 20px;
    border: transparent;
    height: 30px;
    text-align: center;
}

:modal {
  background-color: #ad5050;
  border-radius: 20px;
  border-color: transparent;
  padding: 50px;
  color: white;
  box-shadow: 10px 10px 5px #00000038;
}

.modaleButton {
    background-color: #fba3a3;
}

footer {
    text-align: center;
}

footer > a {
    color: black;
}